#tt-tb {
  background: #2C2A25;
  font: normal 12px/16px "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
  -webkit-border-radius: 16px;
  -webkit-font-smoothing: antialiased;
  margin-top: 15px;
}

#tt-tb .widget {
  float: left;
  padding: 10px 20px;
  border-right: 1px solid #000;
  border-left: 1px solid rgba(255,255,255,.1);
}

#tt-tb .lorem.widget {
  padding: 10px;
}

#tt-tb .lorem.widget a {
  color: #fff;
  display: block;
  background: #9C3;
  text-shadow: #6EA120 1px 1px 0px;
  width: 24px;
  height: 24px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  font-family: Georgia, serif;
  -webkit-border-radius: 200px;
  -webkit-transition-duration: .25s;
}

#tt-tb .lorem.widget a:hover {
  background: #85b12c;
}

#tt-tb label { color: #fff; font-size: 11px; line-height: 12px; display: block; font-weight: bold; }

#tt-tb input[type="text"] {
  margin-top: 6px;
  -webkit-border-radius: 4px;
  padding: 3px;
  width: 40px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #777;
  border: none;
  -webkit-font-smoothing: antialiased;
  background: #42403B;
  color: #bbb;
}

#tt-tb input[type="text"]:focus {
  background: #54514b;
  outline: none;
  color: #fff;
}